<!DOCTYPE html>
<html>
    <head lang="en">
        <title><%= title %></title>
        <meta charset='utf-8'>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
      <h1><%= title %></h1>
      <style>
      table {
        width: 100%;
        border: 1px solid #444444;
        border-collapse: collapse;
      }
      th {
        border: 1px solid #444444;
        padding: 10px;
        background-color: #bbdefb;
      }
      td {
        border: 1px solid #444444;
        padding: 10px;
      }
      #s_btn
      {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      #s_btn
      {
        border: 1px solid skyblue;
        background-color: rgba(0,0,0,0);
        color: skyblue;
        padding: 5px;
      }
      #s_btn:hover
      {
        color:white;
        background-color: skyblue;
      }
</style>
      <a href="/enrolment/search">다른 과목 검색</a>
      <br>
      <form action="/enrolment/search/searchRes" method="get" >
      <br>
      <br>
          <table class="table table-hover">
              <tr>
                  <th>학정번호</th>
                  <th>과목명</th>
                  <th>구분</th>
                  <th>교수</th>
                  <th>학점</th>
                  <th>강의장소</th>
                  <th>강의시간1</th>
                  <th>강의시간2</th>
                  <th>강의시간3</th>
              </tr>
<%
              for(var i=0;i<searchrows.length;i++)
              {
                var oneItem=searchrows[i];
%>
                <tr align ="center">
                  <td><%=oneItem.학정번호%></td>
                  <td><%=oneItem.과목명%></td>
                  <td><%=oneItem.구분%></td>
                  <td><%=oneItem.교수%></td>
                  <td><%=oneItem.학점%></td>
                  <td><%=oneItem.강의장소%></td>
                  <td><%=oneItem.강의시간1%></td>
                  <td><%=oneItem.강의시간2%></td>
                  <td><%=oneItem.강의시간3%></td>
                </tr>
<%
                }
%>
          </table>
        </form>
    </body>
</html>
